<html>
    <head>
        <style>
            body {background:<%= color %>;}
            #number {display: <%= cheat %>;}
        </style>
    </head>
    <body>
        <h1>
            Guess the number!
        </h1>
        <p id="number">
            The number is <%= number %>
        </p>
        <form>
            <input type='text' name='guess' />
            <input type='submit' value='Guess!' />
        </form>
        <p>
            <%= massage %>
        </p>
    </body>
</html>